body {
    margin: 0;
  } 
  .wrapper{
    min-height: 100vh;
    background: #ccc;
    display: flex;
    flex-direction: column;
  }
  .header, .footer{
    height: 50px;
    background: rgb(255, 255, 255);
    color: rgb(46, 46, 46);
    font-size: x-large;
    padding: 10px;
  }

  .header-text{
    display: inline-block;
  }

  .new-certification-button {
    float: right;
    font-size: medium;
  }

  .listContainer {

    text-align: center;
  }


  .content {
    display: flex;
    flex: 1;
    background: #999;
    color: #000; 
  }
  .columns{
    display: flex;
    flex:1;
  }
  .main{
    flex: 1;
    order: 2;
    background-image: url(https://developer.salesforce.com/resources2/certification-site/images/icons-background.png);
    background-repeat: repeat;
    background-position: center;
    background-size: auto auto;
  }
  .sidebar-first{
    width: 20%;
    order: 1;
    background: #b0dcff;
  }
  .sidebar-second{ 
    width: 30%;
    order: 3;
    background: #7eabcf;
    background-image: url(https://developer.salesforce.com/resources2/certification-site/images/icons-background.png);
    background-repeat: repeat;
    background-position: center;
    background-size: auto auto;
    background-blend-mode: luminosity;
    color: #003f73;
  }

  .myButton {
    float: right;
    font-size: medium;
}

.combobox {
  float: right;
  font-size: medium;
  margin-top: -20px;
  margin-right: 10px;
}